<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <h2 style="color:green;">ALL IN ONE SOLVER</h2>

</head>
<body>
<div style="width:450px;height:150px;border:1px solid black;background-color:grey;"> calculator
    <form action="operations/"
    method="get" >
        <input i type="text" name="num1" placeholder="enter number1">
        <input type="text" name="num2" placeholder="enter number2">
       <p align="center"> <input  type="submit" ></p>

    </form></div>
</body>
</html>